<?xml version="1.0" encoding="utf-8"?>
<daoConfig xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <providers resource="providers.config"/>

  <context id="SqlMapDao" default="true">

    <!-- ==== Sql Server : SqlClient configuration 202.111.193.10 ========= -->
    <database>
      <provider name="MySql" />
      <dataSource name="MySql" connectionString="server=localhost;port=3306;user id=root;password=;database=tenghu;CharSet=utf8;allow zero datetime=true;Convert Zero Datetime=true;" />
    </database>

    <!-- ==== Access : OleDb configuration ========= 
		<database>
			<provider name="OleDb1.1" />		 			 
			<dataSource name="Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=F:\OpenSource\DotNet\IBatisNet\IBatis.NPetshop-1.0.0.RC1\source\NPetshop.Web\NPetshop.mdb" />
		</database>-->

    <daoSessionHandler id="SqlMap">
      <property name="resource" value="SqlMap.config" />
    </daoSessionHandler>

    <daoFactory>
      <dao interface="Cn.Loosoft.Zhisou.Tenghu.Persistence.Interfaces.ICategory, Persistence"
  implementation="Cn.Loosoft.Zhisou.Tenghu.Persistence.MapperDao.CategorySqlMapDao, Persistence" />


      <dao interface="Cn.Loosoft.Zhisou.Tenghu.Persistence.Interfaces.INews, Persistence"
 implementation="Cn.Loosoft.Zhisou.Tenghu.Persistence.MapperDao.NewsSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.Tenghu.Persistence.Interfaces.IJob, Persistence"
 implementation="Cn.Loosoft.Zhisou.Tenghu.Persistence.MapperDao.JobSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.Tenghu.Persistence.Interfaces.IVideo, Persistence"
 implementation="Cn.Loosoft.Zhisou.Tenghu.Persistence.MapperDao.VideoSqlMapDao, Persistence" />


      <dao interface="Cn.Loosoft.Zhisou.Tenghu.Persistence.Interfaces.IManager, Persistence"
 implementation="Cn.Loosoft.Zhisou.Tenghu.Persistence.MapperDao.ManagerSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.Tenghu.Persistence.Interfaces.IWebconfig, Persistence"
 implementation="Cn.Loosoft.Zhisou.Tenghu.Persistence.MapperDao.WebconfigSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.Tenghu.Persistence.Interfaces.ILink, Persistence"
 implementation="Cn.Loosoft.Zhisou.Tenghu.Persistence.MapperDao.LinkSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.Tenghu.Persistence.Interfaces.IZhuanli, Persistence"
 implementation="Cn.Loosoft.Zhisou.Tenghu.Persistence.MapperDao.ZhuanliSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.Tenghu.Persistence.Interfaces.IProduct, Persistence"
implementation="Cn.Loosoft.Zhisou.Tenghu.Persistence.MapperDao.ProductSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.Tenghu.Persistence.Interfaces.IImage, Persistence"
implementation="Cn.Loosoft.Zhisou.Tenghu.Persistence.MapperDao.ImageSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.Tenghu.Persistence.Interfaces.IOrder, Persistence"
implementation="Cn.Loosoft.Zhisou.Tenghu.Persistence.MapperDao.OrderSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.Tenghu.Persistence.Interfaces.IServiceInfo, Persistence"
implementation="Cn.Loosoft.Zhisou.Tenghu.Persistence.MapperDao.ServiceInfoSqlMapDao, Persistence" />


    </daoFactory>



  </context>

</daoConfig>
