body{}
.blk_18 {width:480px; height:85px; margin:40px auto 0px auto;}
.blk_18 .pcont {
 FLOAT: left; OVERFLOW: hidden; WIDTH: 410px;
}
.blk_18 .ScrCont {
 WIDTH: 1000px; 
}
.blk_18 #List1_1 {
 FLOAT: left
}
.blk_18 #List2_1 {
 FLOAT: left
}
.blk_18 .LeftBotton {
  FLOAT: left; MARGIN: 10px 1px; WIDTH: 25px;
}
.blk_18 .RightBotton {
 FLOAT: left; MARGIN: 10px 1px; WIDTH: 25px; 
}
.blk_18 .pl IMG {
border:2px solid #A5C582; margin:0px 8px;}
.blk_18 .ppl{ float:left;padding-top:20px;}
.blk_18 .ppr{ float:right;padding-top:20px;}
.commu_cont3 {
 MARGIN: 9px 7px 7px; LINE-HEIGHT: 150%
}
   select
        {
            font-size: 12px;
            color: #707070;
        }
        div.ls
        {
            background: url(framels.jpg) no-repeat center; /* 水平图片的背景 */
        }
        div.pt
        {
            background: url(framept.jpg) no-repeat center; /* 竖直图片的背景 */
        }
        div.ls img
        {
            /* 水平图片 */
            margin: 0px;
            height: 90px;
            width: 135px;
        }
        div.pt img
        {
            /* 竖直图片 */
            margin: 0px;
            height: 135px;
            width: 90px;
        }
        div.ls a
        {
            display: block; /* 定义为块元素 */
            padding: 34px 14px 36px 11px; /* 将超链接区域扩大到整个背景块 */
        }
        div.pt a
        {
            display: block;
            padding: 11px 36px 14px 34px; /* 将超链接区域扩大到整个背景块 */
        }
        div.ls a:hover
        {
            /* 鼠标经过时修改背景图片 */
            background: url(framels_hover.jpg) no-repeat center;
        }
        div.pt a:hover
        {
            background: url(framept_hover.jpg) no-repeat center;
        }
        #showPhoto
        {
            position: absolute;
            display: none;
            width: 100%;
            height: 743px;
            z-index: 200;
        }
        #showPhoto img#close
        {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
            z-index: 2;
        }
        #showPic
        {
            width: 454px;
            height: 454px; /* 正方形的块 */
            position: absolute;
            left: 0px;
            top: 0px;
            text-align: center;
            vertical-align: middle;
        }
        #bgblack
        {
            width: 100%;
            height: 100%;
            background: #404040;
        }
        #showPic img
        {
            padding: 1px;
            border: 1px solid #FFFFFF;
            z-index: 1;
            position: relative;
        }
        #navigator
        {
            position: absolute;
            z-index: 3;
            color: #FFFFFF;
            cursor: pointer;
            bottom: 40px;
            left: 225px;
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
        }
        #navigator span
        {
            padding: 20px;
        }