<?xml version="1.0" encoding="utf-8"?>
<daoConfig xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <providers resource="providers.config"/>

  <context id="SqlMapDao" default="true">

    <!-- ==== Sql Server : SqlClient configuration 60.166.14.38 3306  root bank ========= -->
    <database>
      <provider name="MySql" />
      <dataSource name="MySql" connectionString="server=localhost;port=3306;user id=root;password=;database=solarinfobank18;CharSet=utf8;allow zero datetime=true;Convert Zero Datetime=true;" />
    </database>

    <!-- ==== Access : OleDb configuration ========= 
		<database>
			<provider name="OleDb1.1" />		 			 
			<dataSource name="Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=F:\OpenSource\DotNet\IBatisNet\IBatis.NPetshop-1.0.0.RC1\source\NPetshop.Web\NPetshop.mdb" />
		</database>-->

    <daoSessionHandler id="SqlMap">
      <property name="resource" value="SqlMap.config" />
    </daoSessionHandler>

    <daoFactory>
      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IUserDao, Persistence"
        implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.UserSqlMapDao, Persistence"  />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.ICollectorDao, Persistence"
        implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.CollectorSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.ILanguageDao , Persistence"
        implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.LanguageSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IDbConfigDao , Persistence"
        implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.DbConfigSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IPlantDao, Persistence"
        implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.PlantSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IItemConfigDao, Persistence"
        implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.ItemConfigSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IDeviceRunDataDao,Persistence"
           implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.DeviceRunDataSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.ICollectorYearDataDao,Persistence"
     implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.CollectorYearDataSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IManagerDao,Persistence"
     implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.ManagerSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.ICollectorRunDataDao,Persistence"
     implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.CollectorRunDataSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.ICollectorYearMonthDataDao,Persistence"
         implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.CollectorYearMonthDataSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.ICollectorMonthDayDataDao,Persistence"
   implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.CollectorMonthDayDataSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.ICollectorDayDataDao,Persistence"
   implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.CollectorDayDataSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IDeviceYearDataDao, Persistence"
      implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.DeviceYearDataSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IDeviceYearMonthDataDao,Persistence"
         implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.DeviceYearMonthDataSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IDeviceMonthDayDataDao,Persistence"
   implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.DeviceMonthDayDataSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IDeviceDayDataDao,Persistence"
   implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.DeviceDayDataSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IFaultDao, Persistence"
  implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.FaultSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IReportConfigDao  , Persistence"
implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.ReportConfigSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IPlantUnitDao, Persistence"
  implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.PlantUnitSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.ICustomChartDao, Persistence"
  implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.CustomChartSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IDeviceDao, Persistence"
implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.DeviceSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IVideoMonitorDao, Persistence"
implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.VideoMonitorSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IDeviceModelDao, Persistence"
implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.DeviceModelSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IMonitorItemDao, Persistence"
implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.MonitorItemSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IEmailQueueDao, Persistence"
  implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.EmailQueueSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IProductPictureDao, Persistence"
        implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.ProductPictureSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IAdpic, Persistence"
  implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.AdpicSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IPlantPortalUserDao, Persistence"
        implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.PlantPortalUserSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IPlantUserDao, Persistence"
  implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.PlantUserSqlMapDao, Persistence" />
      

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IDeviceDataCountDao, Persistence"
  implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.DeviceDataCountSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IReportDataItemDao, Persistence"
  implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.ReportDataItemSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IMailConfigDao, Persistence"
implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.MailConfigSqlMapDao, Persistence" />


      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IReportDao, Persistence"
implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.ReportSqlMapDao, Persistence" />


      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IUserRoleDao, Persistence"
implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.UserRoleSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.ILoginRecordDao, Persistence"
implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.LoginRecordSqlMapDao, Persistence" />


      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.ICountryCityDao, Persistence"
implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.CountryCitySqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IMonitorConfigDao, Persistence"
implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.MonitorConfigSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.ICommonInfoDao, Persistence"
implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.CommonInfoSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IManagerMonitorCodeSqlMapDao, Persistence"
implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.ManagerMonitorCodeSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.ICacheDao, Persistence"
implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.CacheSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IAdminControllerActionDao, Persistence"
  implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.AdminControllerActionSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IAdminRoleDao, Persistence"
  implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.AdminRoleSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IAdminControllerActionRoleDao, Persistence"
  implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.AdminControllerActionRoleSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IAdminUserRoleDao, Persistence"
  implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.AdminUserRoleSqlMapDao, Persistence" />
      
      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IRoleDao, Persistence"
 implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.RoleSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IRoleFunctionDao, Persistence"
 implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.RoleFunctionDaoSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IProtalDao, Persistence"
 implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.ProtalSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IElecPriceDao, Persistence"
 implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.ElecPriceSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IDeviceRelationDao, Persistence"
 implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.DeviceRelationSqlMapDao, Persistence" />
  
      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IRelationConfigDao, Persistence"
     implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.RelationConfigSqlMapDao, Persistence" />

    <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IErrorcodeDao, Persistence"
 implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.ErrorcodeSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IQADao, Persistence"
 implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.QASqlMaoDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.ICompensationDao, Persistence"
implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.CompensationSqlMapDao, Persistence" />
      
    <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IEnergywarnDao, Persistence"
implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.EnergywarnSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.ITemplateDao, Persistence"
implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.TemplateSqlMapDao, Persistence" />

      <dao interface="Cn.Loosoft.Zhisou.SunPower.Persistence.Interfaces.IEnergyYearMonthForecastDao, Persistence"
implementation="Cn.Loosoft.Zhisou.SunPower.Persistence.MapperDao.EnergyYearMonthForecastSqlMapDao, Persistence" />
      
    </daoFactory>

  </context>

</daoConfig>
