@charset "utf-8";
/* CSS Document */

body{margin:0px;background:#ECF9FF url(../images/body_bg01.jpg) no-repeat; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
.mainbox{ width:1003px; margin:0 auto; padding-top:26px;}
.header{font-size:48px; font-weight:bold; line-height:60px; margin-bottom:10px;}
.midbox{ background:url(../images/midbg.png) no-repeat; height:501px; margin-bottom:10px; margin-top:0px;}
.leftbox{ width:369px; float:left; margin-left:11px;}
.leftbox span{ font-family:"微软雅黑"; color:#FFFFFF; font-size:16px; display:block; height:28px; line-height:28px;}
.leftbox img{ margin-top:10px;}

.about{border-collapse:collapse; margin-top:13px;}
.pr10{background:#F6E773; font-size:15px; font-family:"微软雅黑"; line-height:31px; text-align:right; color:#E9690E; padding-right:5px; }
.pl10{font-size:15px; font-family:"微软雅黑"; line-height:31px; text-align:left; padding-left:10px; }


.rightbox{ width:568px; float:right; padding-top:70px;}
.bt{margin:0px; list-style:none; padding:0px; display:block;}
.bt li{ font-size:14px; float:left; display:block; width:160px; margin:6px 14px; font-family:"微软雅黑";white-space:nowrap;text-overflow:ellipsis;overflow: hidden;}
.tj{margin:0px; list-style:none; padding:0px; font-family:Arial, Helvetica, sans-serif; display:block; height:80px;}
.tj li{ float:left; display:block; width:160px; margin:14px;}
.f34{font-size:34px; font-weight:bold; color:#08B985;}
.f18{font-size:17px;  color:#494949; margin-left:6px;font-family:Arial, Helvetica, sans-serif;}
.em{ height:138px;}


.table{ margin-bottom:20px; height:500px; margin-top:15px;}/*图表页*/
.tab{ text-align:center;}/*图表页切换*/


