body{font-family: Verdana, Arial, Helvetica, sans-serif; margin:0px;
 background:#F5F5F5; font-size:12px; color:#333;}
#ul,li,input,td,th {margin:0px; padding:0px;}

.subline02{background:url(/Images/kj/tittlebg.jpg) repeat-x bottom; line-height:22px; border:1px solid #EAEAEA;}


a:link{ color:#848484; text-decoration:none;}
a:visited{ color:#848484; text-decoration:none;}
a:hover {color:#468E01; text-decoration:underline;}
a:active { color:#848484; text-decoration:none;}
.redzi{ color:#FF3300;}
.red{ color:Red;}
.nodbg{color:#B4B4B4}


.lbtt{ background:url(/Images/kj/tittlebg.jpg) repeat-x bottom; line-height:22px; border:1px solid #EAEAEA;}
.dblack:link{color:#999999; text-decoration:none;}
.dblack:visited {color:#999999; text-decoration:none;}
.dblack:hover {color:#FF900A; text-decoration:none;}
.dblack:active {color:#999999; text-decoration:none;}

.dbl:link{color:#333; text-decoration:none;}
.dbl:visited {color:#333; text-decoration:none;}
.dbl:hover {color:#FF900A; text-decoration:none;}
.dbl:active {color:#333; text-decoration:none;}

.embox{ height:10px;}/*10PX间距空间div*/
.insy01{ border:1px solid #3A4E2B; width:160px; height:17px;}/*输入框样式*/

.lbl{ color:#A5A5A5;}

.mainbody{width:100%; margin:0px auto;}

.header{height:84px;width:100%; background:url(../Images/bg01.jpg) no-repeat center top;}/*通用头部*/
.headermain{ width:1000px; margin:0px auto; height:84px; background:url(../Images/bg03.jpg) no-repeat;}
.header_l{ float:left; padding-left:30px; padding-top:23px; width:180px;}
.header_r{ float:right; height:84px; width:711px; background:url(../Images/bg04.jpg) no-repeat;}
.header_rt{color:#008C44; padding-right:10px; padding-top:2px; text-align:right;}
.header_rdh{ height:30px; padding-top:18px;}
.header_rdhl{ color:#E0EADF;text-align:center; float:left; padding-left:265px; padding-top:8px;}
.header_rdhl span{ margin:5px;}
.header_rdhr{ float:right; height:32px; width:150px; padding-right:24px;}
.sec_sys{ color:#649244;}

.mainbox{ width:1000px; margin:0px auto;}
/*首页主体*/
.mainboxup{height:212px; background:url(../Images/bg06.jpg);}

.mainboxmid{height:202px; background:url(../Images/bg07.jpg) repeat-x; padding:5px 6px 5px  6px;}
.mainboxmid_l{ float:left; width:441px; height:204px;  background:url(../Images/bg010.jpg) no-repeat;}
.mml01{ text-align:right; padding-top:28px; padding-right:30px; font-size:11px;}


.mainboxmid_r{ float:right; width:540px; height:202px;}

.mainboxdown{height:205px;}
.mainboxdown_l{ float:left; width:447px; height:205px; background:url(../Images/bg011.jpg) no-repeat; }
.mdl01{ text-align:right; padding-top:20px; padding-right:10px;}


.mainboxdown_r{ float:right; width:546px; height:205px; background:url(../Images/bg012.jpg) no-repeat;}
.mdl03{ width:482px; height:85px; margin:70px auto 0px auto;}
.mdl03_l{ float:left;padding-top:20px;}
.mdl03_m{ float:left; }
.mdl03_m img{ border:2px solid #A5C582; margin:0px 12px;}
.mdl03_r{ float:left;padding-top:20px;}



.footer02{ width:1000px;  background:url(../Images/fbg.jpg);height:34px; line-height:34px;margin-top:10px; text-align:center; color:#7E7E7E; margin:0px auto;}


em .error{ color:Red; font-variant:normal; font-style:normal; background-image:url(/Images/sub/error.gif); background-repeat:no-repeat; padding-left:15px;}
em .success{ background-image:url(../Images/sub/right.gif); font-variant:normal; font-style:normal; background-repeat:no-repeat; padding-left:15px;color:Green;}
img{ border:none;}
.tip{ color:#535353; font-variant:normal; font-style:normal;}


/*overview页面数据字体演示，add by qhb in 20120218*/
.sz_fb{font-size:18px; padding-top:5px;} 


/*--------------以下为要变动的部分--------------------*/
/*01标题*/
.indexicg{color:#658C07; font-size:22px; height:25px; padding:10px 0px 0px 20px;}
.indexicg2{ color:#658C07; font-size:22px; padding:10px 0px 0px 14px;}

/*02登录部分*/
.dgr{ color:#000;}/*文字样式*/
.mainboxup_l{ float:left; width:442px; height:207px; background:url(../Images/bg09.jpg) no-repeat;}
.mainboxup_r{ float:right; background:url(../Images/ico01.gif) no-repeat left; height:79px; padding-left:100px; padding-right:45px; width:365px; margin-top:60px; color:#A2A2A2; font-size:11px;}
.mrb{ font-size:28px; line-height:40px;}
.mrb a{ color:#333;}
.loginbu{background:url(../Images/ico01.jpg) no-repeat; width:60px; height:51px; border:none; cursor:pointer; color:#FFFFFF; font-weight:bold; margin-left:10px; font-family:Arial, Helvetica, sans-serif;}

/*03示例电站*/
.sl01{font-size:12px;color:#55930C;line-height:20px; font-size:11px;width:100%;}
.sl01 ul{ list-style:none; margin:0px; padding:0px;}
.sl01 ul li{ float:left; background:url(../Images/slico.gif) no-repeat; padding-left:8px; margin-right:5px;}
.sl02{color:#000; font-size:12px;width:100%; padding-top:5px;}

/*04电站数据统计*/
.mml02{font-size:20px; color:#6CB01B;}
.mml02 ul{ list-style:none; margin:0px; padding-top:20px; padding-left:45px;}
.mml02 ul li{ height:45px; padding-left:30px;}
.ddgr{ color:#6CB01B}/*文字样式*/

/*05问答部分*/
.mdl02{padding-top:10px;padding-left:180px; padding-right:20px;}
.mdl02 ul{ list-style:none;}
.mdl02 ul li{ height:30px; padding-left:25px; border-bottom:1px dotted #CCCCCC; line-height:30px; background:url(../images/ico05.jpg) no-repeat left;width:180px;
white-space:nowrap;word-break:keep-all;overflow:hidden;text-overflow:ellipsis;}
.mdl02 .veiwmore{ display:block; padding-left:40px; padding-top:10px;}

.click_view{ background:url(../Images/dlown.jpg) no-repeat; width:85px; height:16px; color:#FFFFFF; text-align:center; border:none; font-family:Arial, Helvetica, sans-serif; padding-bottom:5px; cursor:pointer; font-size:12px;}/*手机应用查看按钮*/

.dyreen:link{color:#08B079; text-decoration:none;}
.dyreen:visited {color:#08B079; text-decoration:none;}
.dyreen:hover {color:#08B079; text-decoration:underline;}
.dyreen:active {color:#08B079; text-decoration:none;}
