<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLinq.Properties.Settings.host6728845ConnectionString"
            connectionString="Data Source=win-hyms2k-bjzw01.xincache.cn;Initial Catalog=host6728845;Persist Security Info=True;User ID=host6728845;Password=K9A3x8z3"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>