body{ margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#C4C4C4 url(/img/backbg.jpg) repeat-x top; line-height:18px;}

a:link{ color:#454545; text-decoration:none;}
a:visited{ color:#454545; text-decoration:none;}
a:hover {color:#FF6600; text-decoration:underline;}
a:active { color:#454545; text-decoration:none;}

.main{ width:1004px; margin:20px auto 20px auto;}

.main_u{ height:8px; background:url(/img/bg01.gif) no-repeat;}
.main_m{ background:url(/img/bg02.gif);}
.main_f{ height:6px; background:url(/img/bg03.gif) no-repeat;}

.mainbody{ width:964px; margin:0px auto;}
.top{ height:104px;}
.top_l{ float:left;}
.top_r{ float:right; padding-top:40px; color:#666666;}

.dh{ height:35px; clear:both;}
.dh_l{ float:left; width:780px;height:31px; padding-top:4px; line-height:26px;}
.dh_l ul{ margin:0px; padding:0px; list-style:none; font-size:14px;}
.dh_l ul li{ float:left; width:110px; text-align:center; height:31px;}
.dh_l ul li a:link{color:#fff; text-decoration:none; display:block;width:110px; height:31px;}
.dh_l ul li a:visited{color:#fff; text-decoration:none; display:block;width:110px; height:31px;}
.dh_l ul li a:hover{ color:#333; font-weight:bold; text-decoration:none; background:url(/img/bghover.jpg); display:block;height:31px;}
.dh_l ul li a:active{color:#333; text-decoration:none; display:block;width:110px; height:31px;}
.search{ float:right; width:160px; padding-top:8px;}
.searchsy{ background:url(/img/search01.jpg) no-repeat; width:114px; height:19px; border:none; padding-left:20px; line-height:19px;}
.nytel{ background:url(/img/ny/tel.jpg); width:150px; height:39px; padding-left:34px; line-height:39px; font-size:22px; font-family:Georgia;}
.banner_index{ height:370px;}
.midbox{ padding-top:15px;}
.ico01{ padding:10px 0px 10px 5px;}
.nl01{ line-height:20px; color:#454545; text-indent:20px; padding:10px 20px 10px 5px;}

.nl02{ padding-top:10px;clear:both;}
.nl02_img{ float:left;}
.nl02_img img{padding:3px; border:1px solid #E1E1E1}
.nl02_r{ float:right; width:260px; padding-right:25px;}
.lbla{ color:#9D9D9D}
.nl02_d{ clear:both; padding-top:5px;}
.nl02_d ul{ margin:0px; padding:0px;}
.nl02_d ul li{ list-style:none; line-height:20px; height:20px; font-family:"ËÎÌå";}

.footer01{ color:#9D9D9D; padding:10px 0px;}
.footer_l{ float:left;}
.footer_r{ float:right;}

.rs{ color:#D0D0D0;}


.succ{ width:480px; margin:50px auto; border:1px solid #EAEAEA; padding:30px 20px; background:#F8F8F8;}.succ_tt{ font-size:18px; font-weight:bold; font-family: "Î¢ÈíÑÅºÚ";}


#lmenu .hover{ color:#656565; font-weight:bold;text-decoration:none; display:block; height:32px; line-height:33px; width:161px;background:url(/img/ny/ny_bg04.jpg) no-repeat;}

#head .hover{ color:#333; font-weight:bold; text-decoration:none; background:url(/img/bghover.jpg); display:block;height:31px;}

#tab .hover{ color:#FC7804; text-decoration:none; display:block; background:url(/img/ny/ny_bg09.jpg); border-top:1px solid #DCDBDB; border-left:1px solid #DCDBDB; border-right:1px solid #DCDBDB; height:23px;   line-height:23px; text-align:center; padding:0px 10px; float:left;}