.greenbtu{ background:url(../images/faq/faq_btu01.jpg); height:30px; padding:0 15px; border:1px solid #5DB306; color:#FFFFFF; font-size:14px; font-family:"微软雅黑"; cursor:pointer; vertical-align:middle;}
.faq_input01{ background:url(../images/faq/faq_bg03.jpg) top repeat-x; height:28px; line-height:28px; border:1px solid #95C754; width:550px; padding-left:5px; vertical-align:middle;}
.faq_input02{ background:url(../images/faq/faq_bg03.jpg) top repeat-x; line-height:28px; border-left:1px solid #95C754; border-right:1px solid #95C754; border-top:1px solid #CEDEC1; border-bottom:1px solid #DDDDDD; width:546px; vertical-align:middle; padding:5px;}

.faq_top{ background:url(../images/faq/faq_top.jpg); width:703px; height:127px; margin:10px auto;}
.faq_top p{ margin:0 0 0 130px; font-size:30px; font-family: "微软雅黑";}
.faq_top span{ margin-left:130px; display:block; line-height:20px; color:#6B6B6B;}

.faq_search{ padding:20px 0px; text-align:center;}
.faq_search .stxinput{ background:url(../images/faq/faq_bg03.jpg) top repeat-x; height:28px; line-height:28px; border:1px solid #95C754; width:475px; padding-left:5px; vertical-align:middle;}

.faq_list{ width:703px;margin:10px auto; clear:both;}
.faq_list ul{ list-style:none; margin:0px; padding:0px;}
.faq_list ul li a:link{ background:url(../images/faq/faq_ico01.jpg) no-repeat left top; padding-left:15px; border-bottom:1px dotted #CACACA; line-height:22px; color:#000; text-decoration:none; display:block; padding-bottom:5px; margin-bottom:8px;}
.faq_list ul li a:visited{ background:url(../images/faq/faq_ico01.jpg) no-repeat left top; padding-left:15px; border-bottom:1px dotted #CACACA; line-height:22px; color:#000; text-decoration:none; display:block; padding-bottom:5px; margin-bottom:8px;}
.faq_list ul li a:hover{ background:url(../images/faq/faq_ico01.jpg) no-repeat left top; padding-left:15px; border-bottom:1px dotted #CACACA; line-height:22px; color:#468E01; text-decoration:none;display:block; padding-bottom:5px; margin-bottom:8px;}
.faq_list ul li a:active{ background:url(../images/faq/faq_ico01.jpg) no-repeat left top; padding-left:15px; border-bottom:1px dotted #CACACA; line-height:22px; color:#000; text-decoration:none; display:block; padding-bottom:5px; margin-bottom:8px;}

.faq_list .lebo{ float:left; width:120px; margin-bottom:30px;}
.faq_list .rebo{ float:right; width:580px; margin-bottom:30px;}
.faq_list .rebo p{ color:#4C4C4C; line-height:22px;}
.faq_list .rebo img{ border:3px solid #DBD8D8;}

.faq_ask{ width:703px; margin:30px auto 10px auto;clear:both;}
.faq_ask .tname{ background:url(../images/faq/faq_bg01.jpg); height:27px; line-height:30px; display:block; border:1px solid #DCD8D8; padding-left:15px;}
.faq_ask .tname strong{ font-size:14px;}
.faq_ask .changimg{ background:url(../images/faq/faq_bg02.jpg); height:30px; line-height:35px; width:556px; display:block; border-left:1px solid #95C754; border-top:1px solid #95C754; border-right:1px solid #95C754;}
.faq_ask .changimg a{ background: url(../images/faq/faq_ico02.gif) no-repeat left; padding-left:15px; color:#000000; text-decoration:none; margin-left:15px;}
.faq_ask .tszs{background:#F9F9F9; border-left:1px solid #95C754;border-bottom:1px solid #95C754; border-right:1px solid #95C754; width:546px;height:25px; line-height:25px; text-align:right; padding-right:10px; display:block; color:#666666;}
.faq_ask .succok{ display:block;font-size:14px; margin:10px auto; padding:20px 0px; color:#FF6600; padding-left:15px;}

.faq_list_wz{border-bottom:1px dotted #CACACA; height:30px; line-height:30px; display:block; margin-bottom:10px;}

.faq_answer{width:703px; margin:30px auto 10px auto;clear:both;}
.faq_answer .pname{ background:url(../images/faq/faq_bg01.jpg); height:27px; line-height:30px; display:block; border:1px solid #DCD8D8; padding-left:15px;}
.faq_answer .pname strong{ font-size:14px;}
.faq_answer .pmore{ background:url(../images/faq/faq_bg04.jpg) repeat-x top; padding:10px 15px; line-height:22px;}
