<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="http://localhost:6265/reports/viewreport" />
    <add key="FCKeditor:BasePath" value="/editor/" />
    <!-- 默认配置 无需修改 -->
    <add key="FCKeditor:UserFilesPath" value="/UserFiles/" />
    <!-- 默认配置 无需修改 -->
    <add key="memchached" value="127.0.0.1:11211" />
    <!-- 数据缓存的地址 第二步membercache 安装的地址一样 -->
    <add key="CollecorDayDataSaveInterval" value="1" />
    <!-- 默认配置 无需修改 -->
    <add key="DeviceDayDataSaveInterval" value="1" />
    <!-- 默认配置 无需修改 -->
    <add key="DeviceDayData_expireTime" value="2" />
    <!-- 默认配置 无需修改 -->
    <add key="CollectorDayData_expireTime" value="2" />
    <!-- 默认配置 无需修改 -->
    <add key="plant_pic_height" value="55" />
    <!-- 默认配置 无需修改 -->
    <add key="plant_pic_width" value="55" />
    <!-- 默认配置 无需修改 -->
    <add key="sys_path" value="E:\suninfobank\solarinfobank1.17build0222" />
    <!-- 当前web程序的根目录 -->
    <add key="excel_path" value="E:\suninfobank\solarinfobank1.17build0222\xlsx" />
    <!-- memecache key 前缀-->
    <add key="mem_affix" value="run" />
    <!-- membercache的键值前缀 请和数据解析器保持一致-->
    <add key="autologinName" value="" />
    <!-- 保留空值-->
    <add key="map.key.localhost" value="ABQIAAAAI3LA1bEctcP6-PZhfLTz1hT2yXp_ZAY8_ufC3CFXhHIE1NvwkxRg7OktDRKCP1vX6ax3CYpSa4GKJQ" />
    <!-- 地图API key 域名为suninfobank.com 无需修改-->
    <add key="isWap" value="false" />
    <!-- 默认配置 无需修改 -->
    <add key="domain" value="http://www.suninfobank.com" />
    <!-- 域名 -->
    <!-- 导出PDF 中文编码 -->
    <add key="languageEncodePath" value="E:\suninfobank\solarinfobank1.17build0222\Recource\STSONG.TTF" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>